---
import Layout from "../../components/Layout.astro";
import BlogCard from "../../components/BlogCard.astro";
---

<Layout>
  <div class="back">
    <div class="front fade-up">
        <BlogCard blog={{title: "HEEY"}} />
    </div>
  </div>
</Layout>
