---
import Layout from "../../components/Layout.astro";
import BlogCard from "../../components/BlogCard.astro";

let allPosts = await Astro.fetchContent('./*.md');
allPosts = allPosts.sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf());
---

<style>
  @media screen and (max-width: 500px) {
    .back {
      padding: 12vh 3vw;
    }
  }

  .back {
    padding-bottom: 6vh;
  }
</style>

<Layout title={"Blog"}>
  <div class="back">
    <div class="front fade-up" style="overflow-y: scroll; align-items: flex-start; flex-direction: column;">
        {allPosts.map(p => <BlogCard blog={p} />)}
    </div>
  </div>
</Layout>
