---

---

<div class="back" id="about">
    <div class="front fade-up">
    <div class="info">
        <div class="fade-down larger">
        <span style="color: #eb613d">H</span>ello.
        </div>
        <div class="fade-down large">
        I am <span style="color: #4f4ffa">Esh</span>
        </div>
        <div class="type small" style="color: #505050">
        A <u>web designer</u> and <u>freelancer</u>.
        </div>
    </div>
    <!-- <div class="desc smaller fade-down">
        Hey, my full name is Esh Gupta, <br />
        and I am 14 years old, with a passion for computers <br />a really big
        computer entusiast and hobbyist
    </div> -->
    </div>
</div>