---
import Layout from './Layout.astro';
const { content } = Astro.props;
---

<style>
    .title {
        font-size: 3rem;
        font-family: "Josefin Sans";
        text-align: center;
    }

    .date {
        margin-top: 1rem;
        color: #6a6a6a;
        font-size: 1rem;
        font-family: "Josefin Sans";
    }

    .text {
        margin-top: 3rem;
        font-size: 1.25rem;
        font-family: "Josefin Sans";
        text-align: justify;
    }

    .front {
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
    }

    .back {
        padding-bottom: 3vh;
        padding-left: clamp(0.3rem, 5vw, 8rem);
        padding-right: clamp(0.3rem, 5vw, 8rem);
    }
</style>

<Layout title={content.title}>
    <div class="back">
        <div class="front fade-up">
            <div class="title fade-down">{content.title}</div>
            <div class="date">{content.date}</div>
            <div class="text fade-down"> <slot /> </div>   
        </div>
    </div>
</Layout>   