---
const { blog } = Astro.props
---

<div class="card fade-down">
    <div class="card-image"></div>
    <div class="card-title">{blog.title}</div>
    <div class="card-desc">{blog.description}</div>
    <div class="card-date">{blog.date}</div>
</div>