---

---
<style>
nav {
  z-index: 1;
  position: fixed;
  background-color: #fff;
  padding: max(0.2rem, 0.6vw) 0.2rem max(0.5rem, 0.6vw) 0.2rem;
  border-radius: 0px 0px 15px 15px;
}

nav ul {
  list-style-type: none;
}

nav li {
  padding: 0rem min(5vw, 2.5rem) 0rem min(5vw, 2.5rem);
  display: inline-block;
  font-family: "product sans";
  font-size: clamp(0.8rem, 1.4vw, 1.2rem);
}

nav .link {
  border-right: 2px solid black;
}

nav .link a {
  text-decoration: none;
  color: #505050;
  display: inline-block;
}

nav .link:hover {
  background-color: #efefef;
}

nav .link:last-child {
  border-right: 0px;
}

</style>
<nav class="fade-in-down">
    <ul>
    <li class="link"><a href="/#about">ABOUT</a></li>
    <li class="link"><a href="/blog">BLOG</a></li>
    <li class="link"><a href="/#projects">PROJECTS</a></li>
    </ul>
</nav>