---
import ProjectCard from "./ProjectCard.astro";
import * as proj from "../utils/projects.json";
const projects = proj.default.projects
---
<style>
    .front {
        height: 80vh;
        width: 80vw;
    }
    #projects {
        grid-template-columns: 1fr 1fr;   
        grid-template-rows: 1fr 5fr 5fr; 
    }
</style>
<div id="projects" class="front snap-start transition-all grid p-2 gap-3">
    <div class="bg-amber-50 col-span-2 rounded-lg p-2 text-center text-2xl font-medium leading-8 tracking-wide">
        <h1>PROJECTS</h1>
    </div>
    {projects.map(project => <ProjectCard {...project} />)}
</div>