---

---

<div
    id="projects"
    class="back"
>
    <div class="front fade-up" style="align-items: flex-start">
    <div class="bio">
        <div class="info">
        <div class="fade-down medium">PROJECTS</div>
        <div class="small type" style="color: #505050">
            Here are some of my works...
        </div>
        </div>
    </div>
    </div>
</div>