---
  const {name, description, github} = Astro.props;
---

<div id={name} class="bg-amber-100 w-full rounded-2xl p-6">
  <h1 class="text-xl font-semibold tracking-wide">{name}</h1>
  <p>{description}</p>
</div>
